body {
    display: flex;
}

label {
    padding: 0 0.5em;
}

input.error {
    border-color: #c33;
}

#save-list > li {
    cursor: pointer;
}

#new-save-list > li {
    cursor: pointer;
    color: #060;
}

#save-list > li.focus,
#new-save-list > li.focus {
    color: #600;
    font-weight: bold;
}

#board {
    background: #ec9;
    margin-left: 1em;
    border-collapse: collapse;
}

#board:focus {
    border: 3px solid #300;
}

#board td {
    box-sizing: border-box;
    height: 2em;
    width: 2em;
    padding: 0;
    line-height: 0;
    border: 3px dotted rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

#board td > img {
    height: 2em;
    width: 2em;
}

#board td.rotate-1 > img {
    transform: rotate(90deg);
}
#board td.rotate-2 > img {
    transform: rotate(180deg);
}
#board td.rotate-3 > img {
    transform: rotate(270deg);
}

#board td.focus {
    background: #f99;
}

#board td.selection:not(.focus) {
    background: #c9f;
}

#key-table {
    margin-left: 1em;
    border-collapse: collapse;
}

#key-table td {
    box-sizing: border-box;
    height: 1.5em;
    width: 1.5em;
    text-align: center;
    font-size: 1em;
    padding: 0;
    border: 1px dotted #966;
}

#key-table td:not(.no-mono) {
    line-height: 0;
    font-family: monospace;
}

#key-table td > img {
    height: 1.5em;
    width: 1.5em;
}

#key-modal {
    z-index: 100;
    position: absolute;
    top: 10vh;
    left: 10vw;
    box-sizing: border-box;
    height: 80vh;
    width: 80vw;
    padding: 5px;
    background-color: rgba(51, 51, 51, 0.9);
    color: white;
    overflow-y: scroll;
    display: none;
}

#key-modal h2 {
    margin: 0.25em 0;
}

#key-map i {
    background: #ffc;
    color: #900;
    font-family: monospace;
    font-size: 0.8em;
    font-style: normal;
    padding: 1px;
    border: 2px outset #993;
}
